{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

<div id="post-list">
{% for article in articles_page.object_list %}
	<div id="post-body">
		<article class="hentry">
			<div id="post-date">{{ article.locale_date }}</div>
			<header>
				<h2 class="post-title">
					<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Link to {{ article.title|striptags }}">{{ article.title }}</a>
				</h2>
			</header>
			<footer class="post-info">
				{% for author in article.authors %}
				{% endfor %}
			</footer>
			<div class="post-content">
				<div id="post-billboard">
					{{ article.billboard }} 
				</div>
				{{ article.content }} 
			</div>
		</article>
		<div class="post-tags">
			{% for tag in article.tags %}
				<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
			{% endfor %}
		</div>
	</div>
	<hr />
{% endfor %}
</div>
<!-- /#posts-list -->
{% include 'pagination.html' %}
</section>
{% endblock content %}
